<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>This username is taken, try again!</title>
  </head>
  <body>
    <h1>This username is already taken</h1>
  </body>
</html>
