<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create User</title>
  </head>
  <body>
    <h1>Currency Converter API</h1>
    <p>Type a username to get started</p>
    <form action="/api/users" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
      <br />
      <button type="submit">Create User</button>
    </form>
  </body>
</html>
